/* Register & Global SURF styles
	by: Chris Mills 03.06.14
*/
body,
body#edit_overview,
body#edit_social,
body#edit_accountinfo,
body#edit_profile,
body#create_account,
body#link_account {
	background:#fff;
	width:850px;
}
#fields input,
#fields select {
    background-color: #DFDFDF;
    border:none
    color: #666666;
    font-size: 1em;
    margin: 0;
    padding: 14px 15px;
    box-shadow:0 0 2px rgba(0, 0, 0, 0.2) inset, 0 0 0 rgba(255, 255, 255, 0);
    font-size:75%;
    position:relative;
    font-family:Arial, Helvetica, sans-serif;
    /* fix select menu height */
    /*height:46px;
    line-height:46px;*/
    /* */
}
#fields select {
	height:46px;
    line-height:46px;
}
#fields input[type=checkbox] {
	background:#fff;
}
#fields label {
	font-size:75%;
}
::-webkit-input-placeholder { /* WebKit browsers */
    color:    #000;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #000;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #000;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #000;
}
body#create_account
#fields ul li,
body#edit_profile
#fields ul li {
    width:33.3%;
    float:left;
}
#fields ul li#field_feedback_comments {
	width:100%;
}
/*#field_password {
	display:none !important;
}*/
#header h1 {
	font-family:'HelveticaNeueLTStd35Thin',Arial,sans-serif;
	font-size:150%;
	color:#010101;
	font-weight:normal;
	padding-top:25px;
}
p.small {
	font-size:75%;
	color:#333;
	clear:both;
}
p.small a,
p.small a:hover {
	color:#400095;
	text-decoration:underline;
}
p.small a:hover {
	text-decoration:none;
}
button.button {
    background-color: #400095;
    border: none;
    border-radius: 0;
    box-shadow: none;
    color: #ffffff;
    cursor: pointer;
    font-family: Helvetica,Arial, sans-serif;
    font-size: 100%;
    padding:12px 42px;
    text-shadow: none;
}
button.button:hover {
	background-color:#330065 !important;
}
#fields li.error .notice p {
	background-color:#ffffff;
	color:#cc0000;
	font-size:75%;
	margin:0;
	padding:8px 6px;
}
#fields {
	border:0;
	padding-top:0;
	padding-bottom:20px;
	margin-bottom:20px;
	border-bottom:1px solid #dedede;
	border-top:1px solid #dedede;
	float:left;
}
.error_notice {
	background:none;
	border:0;
	color:#cc0000;
}
#field_name,
#field_contact_person,
#field_television,
#field_newspaper,
#field_magazine,
#field_internet,
#field_photo_print,
#field_epk_download,
#field_tca_member,
#field_email_format,
#field_internet,
#field_address2,
.element_margin {
	clear:both;
}
.required_key span {
	font-size:80%;
}
.required_key img {
	width:6px;
	height:9px;
}
#field_email .input_container,
#field_firstname .input_container,
#field_lastname .input_container,
#field_company .input_container,
#field_personal_title .input_container,
#field_name .input_container,
#field_company .input_container,
#field_personal_title .input_container,
#field_url .input_container,
#field_television .input_container,
#field_radio_station .input_container,
#field_cable_network .input_container,
#field_photo_print .input_container,
#field_photo_web .input_container,
#field_photos_purpose .input_container  {
	padding-top:20px;
	margin-top:20px;
}
#field_newspaper_circulation .input_container,
#field_magazine_circulation .input_container,
#field_internet_circulation .input_container {
	width:165px;
}
#general_error_container {
	position:absolute;
	top:60px;
	left:0;
}
#field_television {
	background-image:url("https://chrismillsnbcu.github.io/surfcss/images/hdr_media_type.gif");
	background-position:20px 18px;
	background-repeat:no-repeat;
}
#field_photo_print {
	background-image:url("https://chrismillsnbcu.github.io/surfcss/images/hdr_what_type.gif");
	background-position:20px 28px;
	background-repeat:no-repeat;
}
#field_name {
	background-image:url("https://chrismillsnbcu.github.io/surfcss/images/hdr_what_you_do.gif");
	background-position:20px 28px;
	background-repeat:no-repeat;
}
#field_email {
	background-image:url("https://chrismillsnbcu.github.io/surfcss/images/hdr_who_you_are.gif");
	background-position:20px 28px;
	background-repeat:no-repeat;
}
body#edit_profile
#field_firstname {
	background-image:url("https://chrismillsnbcu.github.io/surfcss/images/hdr_who_you_are.gif");
	background-position:20px 28px;
	background-repeat:no-repeat;
}
#field_email,
#field_firstname,
#field_lastname,
#field_company,
#field_personal_title,
#field_url,
#field_photo_print,
#field_photo_web,
#field_photos_purpose,
#field_name {
	padding-top:20px;
}
body#edit_profile
#general_error_container {
	position:absolute;
	top:98px;
	left:-10px;
}
#basic_info .username { 
	display: none;
}
#basic_info .edit_icon_holder{
	visibility: hidden
}
#basic_info_outer {
	cursor:default !important;
}
#edit_overview #basic_info_outer {
	background:#fff;
}
/* */

/* Create Account Styles */
body#create_account
#footer {
	background:none;
	box-shadow:none;
	position:absolute;
	top:51px;
	left:10px;
}
body#create_account
#create_account_form {
	padding-bottom:25px;
}
/* */

/* Edit Account Styles */
body#edit_profile
#field_email {
	display:none;
}
/* */

/* Sign in styles */
body#signin {
	width:500px;
}
body#signin
#fields {
	float:none;
	border:0;
}
body#signin
#fields ul li,
body#edit_password
#fields ul li {
	width:50%;
	float:left;	
}
body#signin
a#forgot_password,
body#signin
a#forgot_password:hover {
	color:#400095;
	text-decoration:underline;
	font-size:75%;
}
body#signin
a#forgot_password:hover {
	text-decoration:none;
}
button.button {
    background: #400095;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
button.button:hover {
    background: #330065;
}
button.button.loading, button.button.loading:active {
	background: #330065 !important;
}
/* */

/* Password */
body#edit_password,
body#forgot_password,
body#password_request_sent,
body#reset_password,
body#edit_accountinfo {
	background:#fff;
	width:460px;
}
body#forgot_password
#fields ul li,
body#edit_accountinfo
#fields ul li {
	width:100%;
}
body#forgot_password
#fields,
body#password_request_sent
#fields,
body#edit_accountinfo
#fields {
	padding-top:20px;
}
body#forgot_password
#fields #error_container,
body#edit_accountinfo
#fields #error_container {
	margin-bottom:20px;
	font-size:18px;
}
body#edit_password
#password_header {
	padding-top:20px;
}
body#edit_password
#fields,
body#reset_password
#fields {
	width:438px;
	padding-top:20px;
}
body#reset_password
#user_info
.italic {
	display:none;
}
body#edit_password
#general_error_container {
	position:relative;
	margin:0 15px 0 15px;
	top:0;
	left:0;
	z-index:3;
}
/* */