/* Register & Global SURF styles
	by: Chris Mills 03.06.14
*/
body, body#edit_overview, body#edit_social, body#edit_accountinfo,
body#edit_password,
body#forgot_password,
body#edit_profile,
body#password_request_sent,
body#reset_password,
body#signin,
body#create_account,
body#link_account {
	background:#fff;
	width:850px;
}
#fields input,
#fields select {
    background-color: #DFDFDF;
    border:none
    color: #666666;
    font-size: 1em;
    margin: 0;
    padding: 14px 15px;
    box-shadow:0 0 2px rgba(0, 0, 0, 0.2) inset, 0 0 0 rgba(255, 255, 255, 0);
    font-size:75%;
    position:relative;
    font-family:Arial, Helvetica, sans-serif;
}
#fields label {
	font-size:75%;
}
::-webkit-input-placeholder { /* WebKit browsers */
    color:    #000;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #000;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #000;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #000;
}
#fields ul li {
    width:33.3%;
    float:left;
}
#field_password {
	display:none !important;
}
#header h1 {
	font-family:'HelveticaNeueLTStd35Thin',Arial,sans-serif;
	font-size:150%;
	color:#010101;
	font-weight:normal;
	padding-top:25px;
}
p.small {
	font-size:75%;
	color:#333;
	clear:both;
}
p.small a,
p.small a:hover {
	color:#400095;
	text-decoration:underline;
}
p.small a:hover {
	text-decoration:none;
}
button.button {
    background: #400095;
    border: none;
    border-radius: 0;
    box-shadow: none;
    color: #ffffff;
    cursor: pointer;
    font-family: Helvetica,Arial, sans-serif;
    font-size: 100%;
    padding:12px 42px;
    text-shadow: none;
}
button.button:hover {
	background:#330065 !important;
}
#fields li.error .notice p {
	background-color:#ffffff;
	color:#cc0000;
	font-size:75%;
	margin:0;
	padding:8px 6px;
}
#fields {
	border:0;
	padding-top:0;
	padding-bottom:20px;
	margin-bottom:20px;
	border-bottom:1px solid #dedede;
	border-top:1px solid #dedede;
	float:left;
}
.error_notice {
	background:none;
	border:0;
	color:#cc0000;
}
#field_name,
#field_contact_person,
#field_television,
#field_newspaper,
#field_magazine,
#field_internet,
#field_photo_print,
#field_epk_download,
#field_tca_member,
#field_email_format,
#field_internet,
.element_margin {
	clear:both;
}
.required_key span {
	font-size:80%;
}
.required_key img {
	width:6px;
	height:9px;
}
#field_company .input_container,
#field_personal_title .input_container,
#field_name .input_container,
#field_company .input_container,
#field_personal_title .input_container,
#field_url .input_container,
#field_television .input_container,
#field_radio_station .input_container,
#field_cable_network .input_container,
#field_photo_print, .input_container,
#field_photo_web .input_container,
#field_photos_purpose .input_container  {
	margin-top:20px;
	padding-top:20px;
}

#field_email .input_container,
#field_firstname .input_container,
#field_lastname .input_container {
	padding-top:20px;
}

#general_error_container {
	position:absolute;
	top:60px;
	left:0;
}
/* Sign in styles */
body#signin {
	width:500px;
}
body#signin
#fields {
	float:none;
	border:0;
}
body#signin
#fields ul li {
	width:50%;	
}
body#signin
a#forgot_password,
body#signin
a#forgot_password:hover {
	color:#400095;
	text-decoration:underline;
	font-size:75%;
}
body#signin
a#forgot_password:hover {
	text-decoration:none;
}
/* */